<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #receipt th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      #mytable tr:hover {background-color:#7F9DAC;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #044A7D;
        color: white;
      }
</style>

<table id="mytable">
    <tr>
        <th>Receipt Date</th>
        <th>Receipt Type</th>
        <th>Transaction</th>
    </tr>        

    {%for receipt in receipts%}
    <tr>
        <td>{{receipt.receipt_date}}</td>
        <td>{{receipt.receipt_type}}</td>
        <td>{{receipt.transaction}}</td>
    </tr>
    {% endfor %}
</table> 