<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #transaction th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      #mytable tr:hover {background-color:#7F9DAC;}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #044A7D;
        color: white;
      }
</style>

<table id="mytable">
    <th>
        <td>Transaction Amount</td>
        <td>Transaction Date</td>
        <td>Origin Account</td>
    </th>        

    {%for customer in Customers%}
    <tr>
        <td>{{transaction.transaction_amount}}</td>
        <td>{{transaction.transaction_date}}</td>
        <td>{{transaction.origin_account}}</td>
    </tr>
    {% endfor %}
</table> 